
  <!-- Static include for resume -->

  <table cellspacing="0" cellpadding="0" border=0 class="PageHeader">
    <tbody>
	  <tr>
	    <td align=left valign=bottom style="width:33%;">
		</td>
		<td align=center valign=top style="width:34%;">
    <div class="Title">
      My Name
    </div>
	<div class="Center SubTitle">
      Subheader 1
	</div>
	<div class="Center SubTitle">
      Subheader 2
	</div>
		</td>
		<td align=right valign=bottom>
	<div class="Right SubTitle">
	  Location
	</div>
	<div class="Right SubTitle">
	  Link 1
	</div>
	<div class="Right SubTitle">
	  Link 2
	</div>
		</td>
      </tr>
	</tbody>
  </table>
