<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Resume</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Form</servlet-name>
    <servlet-class>com.zygateley.resume.Servlet.Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/index.html</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Resume</servlet-name>
    <servlet-class>com.zygateley.resume.Servlet.Resume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resume</servlet-name>
    <url-pattern>/resume</url-pattern>
    <url-pattern>/resume.html</url-pattern>
    <url-pattern>/resume.jsp</url-pattern>
  </servlet-mapping>
</web-app>